
<% provide(:title,"Contact Us") %>

   <h3>We love to hear from you, Contact US here:<br></h3>

<p>A-56, Sector – 64,<br>
  Nairobi-201301,<br>
  Uttar Route, Kenya.<br>
  Phone Number: xxx-xxx-xxx<br>
  Toll No 00-00-000-104 </p>
<h2 align="center">Customer Support</h2>
<form>
  <div class="row">
    <div class="medium-12 columns">
      <label>Name:<br>
        <input type="text" placeholder="Enter Your Name">

      </label><br>
      <label>Phone:<br>
        <input type="text" placeholder="Enter Phone Number">
        
      </label><br>
    
      <label>Email:<br>
        <input type="email" placeholder="Enter Your Email">
      </label>
      <label>Address:<br>
        <input type="text" placeholder="Enter Your Address">
      </label>
     <input type="submit" value="Submit" >
  </div>

</form>