<h2>Welcome to classic library find all the books you want</h2>
<%= link_to  "Add Book", addbook_path %>

<table>

    <tr>
        <th>Book Title</th>
        <th>Category</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Status</th>
    </tr>
</table>
